.movie-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}

.movie-rating-container p, .movie-genre {
  color: #999;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.movie-details-header {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.movie-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.movie-details-container img {
  flex: 1;
  max-width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 0.5rem;
}

.movie-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.movie-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem 0 3rem 0;
}

.movie-overview {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.movie-release-date {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.movie-genre {
  margin: 0 1rem 0 0;
}

@media (max-width: 768px) {
  .movie-details-container {
    flex-direction: column;
  }
  .movie-details-container img {
    max-width: 100%;
  }
  .movie-details {
    max-width: 100%;
  }
  .movie-title {
    font-size: 2rem;
  }
  .movie-release-date {
    font-size: 1rem;
  }
  .movie-genre {
    font-size: 0.8rem;
  }
   .movie-details-header {
    margin-top: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .movie-details-container {
    flex-direction: column;
    align-items: center;
  }
  .movie-details-container img {
    max-width: 100%;
  }
}
