.not-found {
  text-align: center;
  padding: 4rem 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  max-width: 50rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found span {
  color: #e50914;
}
